@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  max-height: 100%;
  overflow-y: auto; /* or overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
}
